---
import { Icon } from "astro-icon/components";
import MinisterioDialog from "./react/ministerio-dialog";

type Props = Ministerio;

const { descripcion, titulo, icono } = Astro.props;
---

<div
  class="flex rounded-lg shadow-lg overflow-hidden bg-white hover:scale-[102%] hover:shadow-xl"
  id="card-ministerio"
>
  <div class="flex items-center w-1/3 p-4">
    <Icon
      name={icono}
      class="mx-auto aspect-square text-yellow-400 text-4xl md:text-6xl"
    />
  </div>
  <div class="flex flex-col justify-center gap-2 p-4 sm:justify-start">
    <h3 class="text-2xl font-bold capitalize">{titulo}</h3>
    <p class="hidden line-clamp-3 first-letter:capitalize lg:inline-block">
      {descripcion}
    </p>
    <MinisterioDialog
      descripcion={descripcion}
      titulo={titulo}
      icono={icono}
      client:load
    />
  </div>
</div>
